body{
    margin: 0;
    font-family: "roboto";
    overflow-x: hidden;
    font-size: 1em;
}
html{
    overflow-x: hidden;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.head__menu{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{
    width: 50%;
    margin-top: 20px;
}
.logo__menu-pages{
    width: 50%;
    margin-top: 20px;
}
#menu__header{
    display: flex;
    align-items: end; 
    justify-content: center;  
}
.arrow-left{
    position: absolute;
    left: 20px;
}
#return{
    position: absolute;
    left: 20px;
    top:46px;
    color: black;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;   
}
input{
    border: none;
    background-color: #eaeaea;
    margin-left: 8px;
    font-weight: 800;
    font-size: 1em;
}
.search_area{
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:39px; 
    background-color: #eaeaea;
    box-shadow: inset 0 7px 9px -7px grey;
}
.search_location{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px 60px 40px;
    background-color: #f7f7f7;
}
.button_explore{
    text-align: center;
    margin-top: 40px;
    
}
.btn_restaurant{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 20px;  
    background:linear-gradient(#ff79da, #9356dc) ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*///////////////////////////////////functionning section///////////////////////*/
.functiunning{
    display: flex;
    flex-direction: column;  
}
.functiunning_title{
    margin-left: 14px;
}
.functiunning_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 254px;
    height: 60px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 1000ms ease-in-out;
}
.functiunning_btn:hover{
    opacity: 0.8; 
    background-color: #e4d5f6;
    box-shadow: 2px 4px 15px #787878;
}
.functiunning_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.functiunning_number{
    background-color:  #9356dc;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    position: relative;
    left: -18px
}
.functiunning_icon{
    padding-right: 16px;
    margin-left: -24px;
    font-size: 1em;
    color: #7e7e7e;
}
.bouton{
    text-decoration: none;
    color: black;
}
#restaurant__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant_list_title{
    margin-left: -143px;
}
.vertical_img{
    width: 100%;
    height: 166px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.restaurant_new{
    position: absolute;
    right: 60px;
    margin-top: 20px;
    background-color: #99e2d0;
    color: #008766;
    padding: 5px;
    width: 80px;
    text-align: center;
    
}
.vertical_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    height: 226px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 285px;
    margin-bottom: 38px;
    justify-content: center;
}
.vertical_informations{
    margin-left: -17px;
    line-height: 0.5;
}
.favorite{
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite__icon--color{
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.favorite__icon--color:hover{
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}
.favorite__icon{
    position: relative;
    font-size: 1.5em;
}
.favorite__icon:hover{
    opacity: 0;
    
}

.title{
    margin-top: 7px;
}
.restaurant_card{
    text-decoration: none;
    color: black;
}
.informations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.restaurants_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: #353535;
    color: #fff;
    padding-bottom: 15px;
}
footer h3{
    font-family: "shrikhand";
    margin-left: 50px;
    padding-top: 25px;
}
.footer_list_icon{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}
.footer_list{
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
ul{
    list-style-type: none;
    margin-left: 10px;
}
.icon{
    margin-right: 10px;
    width: 14px;
}
/*page menu 1///////////////////////////////////////////*/
.restaurant__illustration{
    width: 100%;
    object-fit: cover;
}

.palette__header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: -53px;
    margin-right: -44px;
}
.restaurant__title{
    font-family: "shrikhand";
}
.favorite__restaurant{
    display: flex;
    justify-content: center;
}
.menu__palette{
    border-radius: 30px 30px 0 0;
    background-color: #f7f7f7;
    position: relative;
    top: -36px;
    display: flex;
    flex-direction: column;
    margin-bottom: -110px;
    padding: 15px;
}
span{
    text-decoration: underline #99e2d0;
    text-decoration-thickness: 3px;
    text-underline-offset: 9px;
}
.order{
    text-align: center;
    margin-top: 40px;
    
}
.btn_order{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 15px;  
    background:linear-gradient(#ff79da, #9356dc) ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    width: 150px;
    margin-bottom: 40px;
    }
    .menu__btn{
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-left: 11px;
        box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
        height: 70px;
        cursor: pointer;
        overflow: hidden;
    }
    .menu{
       transform: scale(0);
       animation-name: menu_list;
       animation-duration: 1000ms;
       animation-fill-mode: both;
       animation-delay: 500ms;
    }
    @keyframes menu_list{
      0%{
        transform: scale(0);
      }
      100%{
        transform: scale(1);
      }
    }
   
    .menu__content{
        line-height: 0.8;
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;

        flex: 1;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .menu__price{
        font-weight: bold;
        display: flex;
        align-items: last baseline;
        margin-bottom: -32px;
    }
    .menu__check{
        background-color: #99e2d0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-right: 0em;
        margin-left: 3em;
        width: 0em;
        opacity: 0;
        border-radius: 0 20px 20px 0;
        transition: all 500ms;
    
    }
    
    .menu__btn:hover .fa-circle-check{
        transform: rotate(360deg);
    }
   
    .menu__btn:hover .menu__check{
        margin-right: -9px;
        opacity: 1;
        width: 5em;
        transform: translateX(-5px);
        
    }
  
    .menu__description{
        overflow: hidden;
        text-overflow: ellipsis;

    }
    
.fa-circle-check{
    color: white;
    font-size: 30px;
    transition: 0.5s transform ease-in-out;
}
.menu__content-title{
    text-overflow: ellipsis;
    overflow: hidden;
}
